<!-- app/templates/admin/remoteusers/addeditrm_users.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Assign Remote User{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            <h1> Assign Roles </h1>
            <br/>
            <p>
                Select a role to assign to
                <span style="color: #4f7386;">
                    {{ remoteuser.first_name }} {{ remoteuser.last_name }}
                </span>
            </p>
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
